#nickname {
    text-decoration: none;
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}
#nickname:hover {
            color: red;
          }

#menu-johnny {
    color: black;
}
#menu-johnny:hover {
            opacity: 50%;
            }

#btn-close{
            text-color: white;
            }

h5 {
    font-family: "Oswald", sans-serif;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 100px;
}

#corrijame{
    text-decoration: none;
}

p{
    font-family: "Abel", sans-serif;
    text-align: justify;
}